#root {
  /* max-width: 1280px;
  margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

/* Fix Radix Tooltip portal clipping */
[data-radix-popper-content-wrapper] {
  z-index: 9999 !important;
  pointer-events: none;
}

/* Optional: better visuals */
[data-radix-tooltip-content] {
  background: oklch(20% 0.01 240);
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 0.875rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.contents { display: contents; }


.Container {
  width: 100%;
  max-height: 600px;
  height: 100%;
}

.Panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-panel-background);
  border-radius: 0.5rem;
}

.ResizeHandleOuter {
  flex: 0 0 1.5em;
  position: relative;
  outline: none;

  --background-color: transparent;
}
.ResizeHandleOuter[data-resize-handle-active] {
  --background-color: var(--color-solid-resize-bar-handle);
}

.ResizeHandleInner {
  position: absolute;
  top: 0.25em;
  bottom: 0.25em;
  left: 0.25em;
  right: 0.25em;
  border-radius: 0.25em;
  background-color: var(--background-color);
  transition: background-color 0.2s linear;
}

.Icon {
  width: 1em;
  height: 1em;
  position: absolute;
  left: calc(50% - 0.5rem);
  top: calc(50% - 0.5rem);
}


div[role=separator] {
  background-color: oklch(98.5% 0.001 106.423);
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
/*
Target the Skeleton component by its class.
The default animate-pulse uses a background color. We can add
a more noticeable opacity animation to it.
*/
.animate-pulse {
animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
}


@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}